<div id="edit-message">

  <%= form_for @team, :url =>{:action => "update", :id =>@team} do |f| %>

    <h1>Edit <%= @team.name %></h1>
    <div class="field" style="text-align: left;">
      <label for = "team_team_one">Team One Name</label>:
      <%= f.text_field :team1, value:  @team1.name, required: true, class:"form-control form-control-lg" %>
    </div>
    <div class="field" style="text-align: left;">
      <label for = "team_team_two">Team Two Name</label>:
      <%= f.text_field :team2, value: @team2.name, required: true, class:"form-control form-control-lg" %>
    </div>
    </br>
    <div class="field" style="text-align: left;">
      <label for = "team_split">Show Split Teams</label>:
    </br>
      <%= label :home, "Yes", value: true %>
      <%= f.radio_button 'hidden', true, :checked => @team.hidden, :value => true %>
    </br>
      <%= label :home, "No", value: false %>
      <%= f.radio_button 'hidden', false,  :value => false %>
    </div>
    <%= hidden_field_tag "division_name", params['division_name'] %>
    <%= hidden_field_tag "division_grade", params['division_grade'] %>
    <%= hidden_field_tag "school_id", params['school_id'] %>
    <%= hidden_field_tag "sport_id", params['sport_id'] %>
    <%= hidden_field_tag "team1_id", @team1.id %>
    <%= hidden_field_tag "team2_id", @team2.id %>
  </br>
  <%= f.submit "Save changes", class:"btn btn-primary btn-lg btn-block" %>
  <% end %>
  </br>
  <%= link_to 'Back',{:action => 'show', id: params['sport_id'], division_grade: params['division_grade'], division_name: params['division_name']}, class:"btn btn-danger btn-lg btn-block" %>
</div>
