<div id="sport-container">
  <div id="sport-title">
<h1 style="text-align:center;font-family: 'Michroma', sans-serif;">Sport Rules</h1>
    <hr class="my-4">
    <ul>
      <li><h2 style="text-align:left"><%= link_to "Flag Football Rules", "https://drive.google.com/file/d/1HGwMznr1tQ_w-WZSjNGlbOiJWald4qHnS4Wc2l-DYGo/preview", target: :_blank%></h2></li>
      <li><h2 style="text-align:left"><%= link_to "Volleyball Rules", "https://drive.google.com/file/d/13fUaunRKmR0D-HcrpzZIgOcAYjHVFO9EJCEekONJEzY/preview", target: :_blank%></h2></li>
      <li><h2 style="text-align:left"><%= link_to "Basketball Rules", "https://drive.google.com/file/d/10t-5NiNL3FcinGf_9fRsIWrZUjlM0VYJ6GYR9MLYMIE/preview", target: :_blank%></h2></li>
      <li><h2 style="text-align:left"><%= link_to "Track and Field", "https://drive.google.com/file/d/1xTJ2dLi0rVYPzF7BA7KqBBi76dBfLTM43rbtapKPors/preview", target: :_blank%></h2></li>
      <li><h2 style="text-align:left"><%= link_to "Soccer", "https://drive.google.com/file/d/1BV0TD8mwQJNzysQ8uiC4p9HLKpKy77_P3Ku9o7ab8-M/preview", target: :_blank%></h2></li>
      <li><h2 style="text-align:left"><%= link_to "Golf", "https://drive.google.com/file/d/1J6wKgvLciFTyJ_SmmtoF4Y8jbTj4Nc3labU66KieUTw/preview", target: :_blank%></h2></li>
    </ul>
    <br>
</div>
</div>
