<div id="create-new-school">
  <h1>Edit Game <%= @tournament_game.game_num %></h1>

  <%= form_for @tournament_game, :url =>{:action => "update_tournament_game", :id =>@tournament_game.id, :tournament_id => params['tournament_id'], :sport_id => params['sport_id']} do |f| %>
    <div class="field" style="text-align: left;">
      <label for = "opponent1">Opponent 1</label>:
      <%= collection_select(:tournament_game, :opp1, Team.all.order(:name), :id, :name, {prompt: "Select Opponent 1"}, {class: "custom-select", required: true}) %>
    </div>
    <div class="field" style="text-align: left;">
      <label for = "message_body">Opponent 1 Score</label>:
      <%= f.number_field 'score_opp1', class:"form-control form-control-lg" %>
    </div>
    <div class="field" style="text-align: left;">
      <label for = "opponent2">Opponent 2</label>:
      <%= collection_select(:tournament_game, :opp2, Team.all.order(:name), :id, :name, {prompt: "Select Opponent 2"}, {class: "custom-select", required: true}) %>
    </div>
    <div class="field" style="text-align: left;">
      <label for = "message_body">Opponent 2 Score</label>:
      <%= f.number_field 'score_opp2', class:"form-control form-control-lg" %>
    </div>
    <div class="field" style="text-align: left;">
      <label for = "game_location">Location</label>:
      <%= collection_select(:tournament_game, :location, Location.all.order(:name), :id, :name, {prompt: "Select a Location"}, {class: "custom-select", required: true}) %>

    </div>
    <div class="field" style="text-align: left;">
      <label for = "message_end_date">Date</label>:
      </br>
      <%= datetime_select("tournament_game", "time", prompt: {
                day: 'Select day', month: 'Select month', year: 'Select year'
              }, start_year: Time.now.year, order: [:month, :day, :year, :hour,:minute], ampm: true, required: true, class:"form-control form-control-lg" ) %>
      </br>
    </div>
    </br>
  </br>
  <% flash.each do |key, value| %>
    <div class="alert-message"><%= value %></div>
  <% end %>
  <%= submit_tag "Update Game", class:"btn btn-primary btn-lg btn-block"%>
  <% end -%>
</br>
  <%= link_to 'Back', {:action => 'show_tournament', id: params['tournament_id'], sport_id: params['sport_id']} , class:"btn btn-danger btn-lg btn-block" %>
</div>
