<div id="create-new-school">
  <h1>Edit Game</h1>

  <%= form_for @game, :url =>{:action => "update", :id =>@game} do |f| %>
    <div class="field" style="text-align: left;">
      <label for = "opponent1">Opponent 1</label>:
      <%= collection_select(:game, :opp1, Team.all.order(:name), :id, :name, {prompt: "Select Opponent 1"}, {class: "custom-select", required: true}) %>
    </div>
    <div class="field" style="text-align: left;">
      <label for = "message_body">Opponent 1 Score</label>:
      <%= f.number_field 'score_opp1', class:"form-control form-control-lg" %>
    </div>
    <div class="field" style="text-align: left;">
      <label for = "opponent2">Opponent 2</label>:
      <%= collection_select(:game, :opp2, Team.all.order(:name), :id, :name, {prompt: "Select Opponent 2"}, {class: "custom-select", required: true}) %>
    </div>
    <div class="field" style="text-align: left;">
      <label for = "message_body">Opponent 2 Score</label>:
      <%= f.number_field 'score_opp2', class:"form-control form-control-lg" %>
    </div>
    <div class="field" style="text-align: left;">
      <label for = "game_location">Location</label>:
      <%= collection_select(:game, :location, Location.all.order(:name), :id, :name, {prompt: "Select a Location"}, {class: "custom-select", required: true}) %>

    </div>
    <div class="field" style="text-align: left;">
      <label for = "message_end_date">End Date</label>:
      </br>
      <%= datetime_select("game", "time", prompt: {
                day: 'Select day', month: 'Select month', year: 'Select year'
              }, start_year: Time.now.year, order: [:month, :day, :year, :hour,:minute], ampm: true, required: true, class:"form-control form-control-lg" ) %>
      </br>
    </div>
    <div class="field" style="text-align: left;">
      <label for = "message_home">Confrence Game </label>:
    </br>
      <%= label :home, "Yes", value: true %>
      <%= f.radio_button 'confrence', true,:checked => @game.confrence, :value => true %>
    </br>
      <%= label :home, "No", value: false %>
      <%= f.radio_button 'confrence', false, :value => false %>
    </div></br>
    <%= hidden_field_tag "division_name", params['division_name'] %>
    <%= hidden_field_tag "division_grade", params['division_grade'] %>
    <%= hidden_field_tag "sport_id", params['sport_id'] %>
  </br>
  <% flash.each do |key, value| %>
    <div class="alert-message"><%= value %></div>
  <% end %>
  <%= submit_tag "Update Game", class:"btn btn-primary btn-lg btn-block"%>
  <% end -%>
</br>
  <%= link_to 'Back', {:action => 'show', id: params['sport_id'], division_name: params['division_name'], division_grade: params['division_grade']} , class:"btn btn-danger btn-lg btn-block" %>
</div>
