<!DOCTYPE html>
<html>
<head>
  <title>CAPPS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Michroma" rel="stylesheet">
  <%= csrf_meta_tags %>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to "CAPPS", root_path, class:"navbar-brand", style:"font-size:24px;font-family: 'Michroma', sans-serif;"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if current_page?(root_path) %>">
        <%= link_to "Home", root_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sport Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">All Games By Sports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tournaments</a>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item <%= 'active' if current_page?(school_index_url) %>">
          <%= link_to "Schools", school_index_url, class:"nav-link" %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(message_url) %>">
        <%= link_to "Messages", message_url, class:"nav-link" %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(location_url) %>">
        <%= link_to "Locations", location_url, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Split Teams</a>
      <li class="nav-item">
        <a class="nav-link" href="#">Ref Schedules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Documents and Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Archives</a>
      </li>
      </li>
      <% end %>
    </ul>
    <% if !user_signed_in? %>
      <%= link_to "Admin Login", new_user_session_url, class: 'btn btn-danger' %>
    <% end %>
    <% if user_signed_in? %>
      &nbsp;
      <%= link_to "Sign Out", destroy_user_session_path, class: 'btn btn-danger' %>
    <% end %>
  </div>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
